.meme {
    display: inline-block;
    position: relative;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6em;
    text-transform: uppercase;
    margin: 5px;
}

.meme img{
    max-height: auto;
    max-width: 400px;
}

.topText {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    margin-top: 5px;
}

.bottomText {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
    margin-bottom: 5px;
}

p {
    margin: 0;
}