.meme {
    display: inline-block;
    position: relative;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6em;
    text-transform: uppercase;
    
}

.meme img{
    max-height: 400px;
    max-width: auto;
}

.topText {
    text-align: center;
    position: absolute;
    background-color: red;
    top: 0;
}

.bottomText {
    position: absolute;
    background-color: green;
    bottom: 0;
}